//!  31322.0853         CUSTOM PROPERTIES

//!  31322.0857         1.1 COLORS

//!  31322.0857         1.1 COLORS

:root {
  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;
}
